﻿@*
    Copyright (c) Niklas Wendel 2017-2018

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*@
@using Microsoft.AspNetCore.Html
@using LoremIpsumCMS.Web.Areas.AdminShell.ViewModels.AdminShell

@model IEnumerable<MenuViewModel>

@foreach (var menu in Model)
{
    <div class="navbar-title">
        <span>@menu.Title</span>
    </div>
    <ul>
        @foreach (var menuItem in menu.Items)
        {
            <li @RenderActiveAndOpenClass(menuItem)>
                <a href="@menuItem.Url">
                    <div class="item-content">
                        <div class="item-media">
                            <i class="@menuItem.IconClass"></i>
                        </div>
                        <div class="item-inner">
                            <span class="title"> @menuItem.Title </span>
                            @if (menuItem.HasChildren)
                            {
                                <i class="icon-arrow"></i>
                            }
                        </div>
                    </div>
                </a>

                @* TODO: Recursive Partial? *@

                @if (menuItem.HasChildren)
                {
                    <ul class="sub-menu">
                        @foreach (var subMenuItem in menuItem.Children)
                        {
                            <li @RenderActiveAndOpenClass(subMenuItem)>
                                <a href="@subMenuItem.Url">
                                    <span class="title"> @subMenuItem.Title </span>
                                </a>
                            </li>
                        }
                    </ul>
                }
            </li>
        }
    </ul>
}

@functions
{
    IHtmlContent RenderActiveAndOpenClass(MenuItemViewModel menuItem)
    {
        if(menuItem.IsActive)
        {
            return new HtmlString($"class=\"active\"");
        }
        if(menuItem.IsOpen)
        {
            return new HtmlString($"class=\"active open\"");
        }

        return HtmlString.Empty;
    }
}
