﻿@*
    Copyright (c) Niklas Wendel 2017-2018

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*@

@using LoremIpsumCMS.Web.Areas.AdminSite.ViewModels.AdminSite

@model CreateViewModel

<div id="editSiteTab_site" class="tab-pane fade in active">
    <div class="row">
        <div class="col-md-6">

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-red"></span>
            </div>

            <div class="form-group">
                <label asp-for="Hosts" class="control-label"></label>

                <table id="hosts-table" class="table table-bordered margin-bottom-5">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Admin</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    @for (var ix = 0; ix < Model.Hosts.Length; ix++)
                    {
                        <tr loremipsum-hidden-if="Model.Hosts[ix].IsDeleted">
                            <td>
                                <input asp-for="Hosts[ix].Name"/>
                            </td>
                            <td class="table-column-auto-width">
                                <input asp-for="Hosts[ix].IsAdmin" type="checkbox" />
                            </td>
                            <td class="table-column-auto-width">
                                <a class="btn btn-red btn-xs delete-host" href="#">
                                    <i class="fa fa-times fa-white"></i>
                                </a>
                                <input asp-for="Hosts[ix].IsDeleted" type="checkbox" hidden="hidden" />
                            </td>
                        </tr>
                    }
                    </tbody>
                </table>
                <div>
                    <span asp-validation-for="Hosts" class="text-red"></span>
                </div>

                <a class="btn btn-primary btn-wide add-host" href="#">
                    <i class="fa fa-plus"></i>
                    Add Host
                </a>
            </div>

        </div>
    </div>
</div>
