﻿@*
    Copyright (c) Niklas Wendel 2017-2018

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*@

@using LoremIpsumCMS.Web.Areas
@using LoremIpsumCMS.Web.Areas.AdminSite.Controllers
@using LoremIpsumCMS.Web.Areas.AdminSite.ViewModels.AdminSite
@using LoremIpsumCMS.Web.Infrastructure.Mvc

@model IndexViewModel

@section PageTitle { All Sites }

<div class="container-fluid container-fullw bg-white padding-top-10">
    <partial name="_IndexMenuBar"/>

    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Created</th>
            <th>Updated</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var site in Model.Sites)
        {
            <tr>
                <td>@site.Name</td>
                <td>@site.CreatedAt</td>
                <td>@site.LastUpdatedAt</td>
                <td class="table-column-auto-width">
                    @if (site.IsCurrent)
                    {
                        <a asp-action="@nameof(AdminSiteController.Edit)" asp-controller="@(ControllerName.For<AdminSiteController>())" asp-area="@AreaNames.AdminSite" class="btn btn-blue btn-xs edit-site">
                            <i class="fa fa-pencil"></i>
                        </a>
                    }
                    else
                    {
                        <a asp-action="@nameof(AdminSiteController.NavigateTo)" asp-controller="@(ControllerName.For<AdminSiteController>())" asp-area="@AreaNames.AdminSite" asp-route-nameslug="@site.NameSlug" class="btn btn-blue btn-xs goto-site">
                            <i class="fa fa-external-link-square"></i>
                        </a>
                    }
                    <button data-toggle="modal" data-target="#deleteConfirmationModal" data-sitename="@site.Name" data-sitenameslug="@site.NameSlug" class="btn btn-red btn-xs delete-site">
                        <i class="fa fa-times fa-white"></i>
                    </button>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

<partial name="_DeleteConfirmationModal" model="new DeleteViewModel()"/>

@section PageJs
{
    <script src="~/js/admin-site-common.js"></script>
}
