﻿@*
    Copyright (c) Niklas Wendel 2017-2018

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*@

<!-- start: SETTINGS -->
<div class="settings panel panel-default hidden-xs hidden-sm" id="settings">
    <button ct-toggle="toggle" data-toggle-class="active" data-toggle-target="#settings" class="btn btn-default">
        <i class="fa fa-spin fa-gear"></i>
    </button>
    <div class="panel-heading">
        Style Selector
    </div>
    <div class="panel-body">
        <!-- start: FIXED HEADER -->
        <div class="setting-box clearfix">
            <span class="setting-title pull-left"> Fixed header</span>
            <span class="setting-switch pull-right">
                <input type="checkbox" class="js-switch" id="fixed-header" />
            </span>
        </div>
        <!-- end: FIXED HEADER -->
        <!-- start: FIXED SIDEBAR -->
        <div class="setting-box clearfix">
            <span class="setting-title pull-left">Fixed sidebar</span>
            <span class="setting-switch pull-right">
                <input type="checkbox" class="js-switch" id="fixed-sidebar" />
            </span>
        </div>
        <!-- end: FIXED SIDEBAR -->
        <!-- start: CLOSED SIDEBAR -->
        <div class="setting-box clearfix">
            <span class="setting-title pull-left">Closed sidebar</span>
            <span class="setting-switch pull-right">
                <input type="checkbox" class="js-switch" id="closed-sidebar" />
            </span>
        </div>
        <!-- end: CLOSED SIDEBAR -->
        <!-- start: FIXED FOOTER -->
        <div class="setting-box clearfix">
            <span class="setting-title pull-left">Fixed footer</span>
            <span class="setting-switch pull-right">
                <input type="checkbox" class="js-switch" id="fixed-footer" />
            </span>
        </div>
        <!-- end: FIXED FOOTER -->
        <!-- start: THEME SWITCHER -->
        <div class="colors-row setting-box">
            <div class="color-theme theme-1">
                <div class="color-layout">
                    <label>
                        <input type="radio" name="setting-theme" value="theme-1">
                        <span class="ti-check"></span>
                        <span class="split header"> <span class="color th-header"></span> <span class="color th-collapse"></span> </span>
                        <span class="split"> <span class="color th-sidebar"><i class="element"></i></span> <span class="color th-body"></span> </span>
                    </label>
                </div>
            </div>
            <div class="color-theme theme-2">
                <div class="color-layout">
                    <label>
                        <input type="radio" name="setting-theme" value="theme-2">
                        <span class="ti-check"></span>
                        <span class="split header"> <span class="color th-header"></span> <span class="color th-collapse"></span> </span>
                        <span class="split"> <span class="color th-sidebar"><i class="element"></i></span> <span class="color th-body"></span> </span>
                    </label>
                </div>
            </div>
        </div>
        <div class="colors-row setting-box">
            <div class="color-theme theme-3">
                <div class="color-layout">
                    <label>
                        <input type="radio" name="setting-theme" value="theme-3">
                        <span class="ti-check"></span>
                        <span class="split header"> <span class="color th-header"></span> <span class="color th-collapse"></span> </span>
                        <span class="split"> <span class="color th-sidebar"><i class="element"></i></span> <span class="color th-body"></span> </span>
                    </label>
                </div>
            </div>
            <div class="color-theme theme-4">
                <div class="color-layout">
                    <label>
                        <input type="radio" name="setting-theme" value="theme-4">
                        <span class="ti-check"></span>
                        <span class="split header"> <span class="color th-header"></span> <span class="color th-collapse"></span> </span>
                        <span class="split"> <span class="color th-sidebar"><i class="element"></i></span> <span class="color th-body"></span> </span>
                    </label>
                </div>
            </div>
        </div>
        <div class="colors-row setting-box">
            <div class="color-theme theme-5">
                <div class="color-layout">
                    <label>
                        <input type="radio" name="setting-theme" value="theme-5">
                        <span class="ti-check"></span>
                        <span class="split header"> <span class="color th-header"></span> <span class="color th-collapse"></span> </span>
                        <span class="split"> <span class="color th-sidebar"><i class="element"></i></span> <span class="color th-body"></span> </span>
                    </label>
                </div>
            </div>
            <div class="color-theme theme-6">
                <div class="color-layout">
                    <label>
                        <input type="radio" name="setting-theme" value="theme-6">
                        <span class="ti-check"></span>
                        <span class="split header"> <span class="color th-header"></span> <span class="color th-collapse"></span> </span>
                        <span class="split"> <span class="color th-sidebar"><i class="element"></i></span> <span class="color th-body"></span> </span>
                    </label>
                </div>
            </div>
        </div>
        <!-- end: THEME SWITCHER -->
    </div>
</div>
<!-- end: SETTINGS -->
