﻿@*
    Copyright (c) Niklas Wendel 2017-2018

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*@

<!-- start: OFF-SIDEBAR -->
<div id="off-sidebar" class="sidebar">
    <div class="sidebar-wrapper">
        <ul class="nav nav-tabs nav-justified">
            <li class="active">
                <a href="#off-users" aria-controls="off-users" role="tab" data-toggle="tab">
                    <i class="ti-comments"></i>
                </a>
            </li>
            <li>
                <a href="#off-favorites" aria-controls="off-favorites" role="tab" data-toggle="tab">
                    <i class="ti-heart"></i>
                </a>
            </li>
            <li>
                <a href="#off-settings" aria-controls="off-settings" role="tab" data-toggle="tab">
                    <i class="ti-settings"></i>
                </a>
            </li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="off-users">
                <div id="users" toggleable active-class="chat-open">
                    <div class="users-list">
                        <div class="sidebar-content perfect-scrollbar">
                            <h5 class="sidebar-title">On-line</h5>
                            <ul class="media-list">
                                <li class="media">
                                    <a data-toggle-class="chat-open" data-toggle-target="#users" href="#">
                                        <i class="fa fa-circle status-online"></i>
                                        <img alt="..." src="~/images/avatar-2.jpg" class="media-object">
                                        <div class="media-body">
                                            <h4 class="media-heading">Nicole Bell</h4>
                                            <span> Content Designer </span>
                                        </div>
                                    </a>
                                </li>
                                <li class="media">
                                    <a data-toggle-class="chat-open" data-toggle-target="#users" href="#">
                                        <div class="user-label">
                                            <span class="label label-success">3</span>
                                        </div>
                                        <i class="fa fa-circle status-online"></i>
                                        <img alt="..." src="~/images/avatar-3.jpg" class="media-object">
                                        <div class="media-body">
                                            <h4 class="media-heading">Steven Thompson</h4>
                                            <span> Visual Designer </span>
                                        </div>
                                    </a>
                                </li>
                                <li class="media">
                                    <a data-toggle-class="chat-open" data-toggle-target="#users" href="#">
                                        <i class="fa fa-circle status-online"></i>
                                        <img alt="..." src="~/images/avatar-4.jpg" class="media-object">
                                        <div class="media-body">
                                            <h4 class="media-heading">Ella Patterson</h4>
                                            <span> Web Editor </span>
                                        </div>
                                    </a>
                                </li>
                                <li class="media">
                                    <a data-toggle-class="chat-open" data-toggle-target="#users" href="#">
                                        <i class="fa fa-circle status-online"></i>
                                        <img alt="..." src="~/images/avatar-5.jpg" class="media-object">
                                        <div class="media-body">
                                            <h4 class="media-heading">Kenneth Ross</h4>
                                            <span> Senior Designer </span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <h5 class="sidebar-title">Off-line</h5>
                            <ul class="media-list">
                                <li class="media">
                                    <a data-toggle-class="chat-open" data-toggle-target="#users" href="#">
                                        <img alt="..." src="~/images/avatar-6.jpg" class="media-object">
                                        <div class="media-body">
                                            <h4 class="media-heading">Nicole Bell</h4>
                                            <span> Content Designer </span>
                                        </div>
                                    </a>
                                </li>
                                <li class="media">
                                    <a data-toggle-class="chat-open" data-toggle-target="#users" href="#">
                                        <div class="user-label">
                                            <span class="label label-success">3</span>
                                        </div>
                                        <img alt="..." src="~/images/avatar-7.jpg" class="media-object">
                                        <div class="media-body">
                                            <h4 class="media-heading">Steven Thompson</h4>
                                            <span> Visual Designer </span>
                                        </div>
                                    </a>
                                </li>
                                <li class="media">
                                    <a data-toggle-class="chat-open" data-toggle-target="#users" href="#">
                                        <img alt="..." src="~/images/avatar-8.jpg" class="media-object">
                                        <div class="media-body">
                                            <h4 class="media-heading">Ella Patterson</h4>
                                            <span> Web Editor </span>
                                        </div>
                                    </a>
                                </li>
                                <li class="media">
                                    <a data-toggle-class="chat-open" data-toggle-target="#users" href="#">
                                        <img alt="..." src="~/images/avatar-9.jpg" class="media-object">
                                        <div class="media-body">
                                            <h4 class="media-heading">Kenneth Ross</h4>
                                            <span> Senior Designer </span>
                                        </div>
                                    </a>
                                </li>
                                <li class="media">
                                    <a data-toggle-class="chat-open" data-toggle-target="#users" href="#">
                                        <img alt="..." src="~/images/avatar-10.jpg" class="media-object">
                                        <div class="media-body">
                                            <h4 class="media-heading">Ella Patterson</h4>
                                            <span> Web Editor </span>
                                        </div>
                                    </a>
                                </li>
                                <li class="media">
                                    <a data-toggle-class="chat-open" data-toggle-target="#users" href="#">
                                        <img alt="..." src="~/images/avatar-5.jpg" class="media-object">
                                        <div class="media-body">
                                            <h4 class="media-heading">Kenneth Ross</h4>
                                            <span> Senior Designer </span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="user-chat">
                        <div class="chat-content">
                            <div class="sidebar-content perfect-scrollbar">
                                <a class="sidebar-back pull-left" href="#" data-toggle-class="chat-open" data-toggle-target="#users"><i class="ti-angle-left"></i> <span>Back</span></a>
                                <ol class="discussion">
                                    <li class="messages-date">
                                        Sunday, Feb 9, 12:58
                                    </li>
                                    <li class="self">
                                        <div class="message">
                                            <div class="message-name">
                                                Peter Clark
                                            </div>
                                            <div class="message-text">
                                                Hi, Nicole
                                            </div>
                                            <div class="message-avatar">
                                                <img src="~/images/avatar-1.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="message">
                                            <div class="message-name">
                                                Nicole Bell
                                            </div>
                                            <div class="message-text">
                                                How are you?
                                            </div>
                                            <div class="message-avatar">
                                                <img src="~/images/avatar-1.jpg" alt="">
                                            </div>
                                        </div>
                                    </li>
                                    <li class="other">
                                        <div class="message">
                                            <div class="message-name">
                                                Nicole Bell
                                            </div>
                                            <div class="message-text">
                                                Hi, i am good
                                            </div>
                                            <div class="message-avatar">
                                                <img src="~/images/avatar-2.jpg" alt="">
                                            </div>
                                        </div>
                                    </li>
                                    <li class="self">
                                        <div class="message">
                                            <div class="message-name">
                                                Peter Clark
                                            </div>
                                            <div class="message-text">
                                                Glad to see you ;)
                                            </div>
                                            <div class="message-avatar">
                                                <img src="~/images/avatar-1.jpg" alt="">
                                            </div>
                                        </div>
                                    </li>
                                    <li class="messages-date">
                                        Sunday, Feb 9, 13:10
                                    </li>
                                    <li class="other">
                                        <div class="message">
                                            <div class="message-name">
                                                Nicole Bell
                                            </div>
                                            <div class="message-text">
                                                What do you think about my new Dashboard?
                                            </div>
                                            <div class="message-avatar">
                                                <img src="~/images/avatar-2.jpg" alt="">
                                            </div>
                                        </div>
                                    </li>
                                    <li class="messages-date">
                                        Sunday, Feb 9, 15:28
                                    </li>
                                    <li class="other">
                                        <div class="message">
                                            <div class="message-name">
                                                Nicole Bell
                                            </div>
                                            <div class="message-text">
                                                Alo...
                                            </div>
                                            <div class="message-avatar">
                                                <img src="~/images/avatar-2.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="message">
                                            <div class="message-name">
                                                Nicole Bell
                                            </div>
                                            <div class="message-text">
                                                Are you there?
                                            </div>
                                            <div class="message-avatar">
                                                <img src="~/images/avatar-2.jpg" alt="">
                                            </div>
                                        </div>
                                    </li>
                                    <li class="self">
                                        <div class="message">
                                            <div class="message-name">
                                                Peter Clark
                                            </div>
                                            <div class="message-text">
                                                Hi, i am here
                                            </div>
                                            <div class="message-avatar">
                                                <img src="~/images/avatar-1.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="message">
                                            <div class="message-name">
                                                Nicole Bell
                                            </div>
                                            <div class="message-text">
                                                Your Dashboard is great
                                            </div>
                                            <div class="message-avatar">
                                                <img src="~/images/avatar-1.jpg" alt="">
                                            </div>
                                        </div>
                                    </li>
                                    <li class="messages-date">
                                        Friday, Feb 7, 23:39
                                    </li>
                                    <li class="other">
                                        <div class="message">
                                            <div class="message-name">
                                                Nicole Bell
                                            </div>
                                            <div class="message-text">
                                                How does the binding and digesting work in AngularJS?, Peter?
                                            </div>
                                            <div class="message-avatar">
                                                <img src="~/images/avatar-2.jpg" alt="">
                                            </div>
                                        </div>
                                    </li>
                                    <li class="self">
                                        <div class="message">
                                            <div class="message-name">
                                                Peter Clark
                                            </div>
                                            <div class="message-text">
                                                oh that's your question?
                                            </div>
                                            <div class="message-avatar">
                                                <img src="~/images/avatar-1.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="message">
                                            <div class="message-name">
                                                Peter Clark
                                            </div>
                                            <div class="message-text">
                                                little reduntant, no?
                                            </div>
                                            <div class="message-avatar">
                                                <img src="~/images/avatar-1.jpg" alt="">
                                            </div>
                                        </div>
                                        <div class="message">
                                            <div class="message-name">
                                                Peter Clark
                                            </div>
                                            <div class="message-text">
                                                literally we get the question daily
                                            </div>
                                            <div class="message-avatar">
                                                <img src="~/images/avatar-1.jpg" alt="">
                                            </div>
                                        </div>
                                    </li>
                                    <li class="other">
                                        <div class="message">
                                            <div class="message-name">
                                                Nicole Bell
                                            </div>
                                            <div class="message-text">
                                                I know. I, however, am not a nerd, and want to know
                                            </div>
                                            <div class="message-avatar">
                                                <img src="~/images/avatar-2.jpg" alt="">
                                            </div>
                                        </div>
                                    </li>
                                    <li class="self">
                                        <div class="message">
                                            <div class="message-name">
                                                Peter Clark
                                            </div>
                                            <div class="message-text">
                                                for this type of question, wouldn't it be better to try Google?
                                            </div>
                                            <div class="message-avatar">
                                                <img src="~/images/avatar-1.jpg" alt="">
                                            </div>
                                        </div>
                                    </li>
                                    <li class="other">
                                        <div class="message">
                                            <div class="message-name">
                                                Nicole Bell
                                            </div>
                                            <div class="message-text">
                                                Lucky for us :)
                                            </div>
                                            <div class="message-avatar">
                                                <img src="~/images/avatar-2.jpg" alt="">
                                            </div>
                                        </div>
                                    </li>
                                </ol>
                            </div>
                        </div>
                        <div class="message-bar">
                            <div class="message-inner">
                                <a class="link icon-only" href="#"><i class="fa fa-camera"></i></a>
                                <div class="message-area">
                                    <textarea placeholder="Message"></textarea>
                                </div>
                                <a class="link" href="#">
                                    Send
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="off-favorites">
                <div class="users-list">
                    <div class="sidebar-content perfect-scrollbar">
                        <h5 class="sidebar-title">Favorites</h5>
                        <ul class="media-list">
                            <li class="media">
                                <a href="#">
                                    <img alt="..." src="~/images/avatar-7.jpg" class="media-object">
                                    <div class="media-body">
                                        <h4 class="media-heading">Nicole Bell</h4>
                                        <span> Content Designer </span>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="#">
                                    <div class="user-label">
                                        <span class="label label-success">3</span>
                                    </div>
                                    <img alt="..." src="~/images/avatar-6.jpg" class="media-object">
                                    <div class="media-body">
                                        <h4 class="media-heading">Steven Thompson</h4>
                                        <span> Visual Designer </span>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="#">
                                    <img alt="..." src="~/images/avatar-10.jpg" class="media-object">
                                    <div class="media-body">
                                        <h4 class="media-heading">Ella Patterson</h4>
                                        <span> Web Editor </span>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="#">
                                    <img alt="..." src="~/images/avatar-2.jpg" class="media-object">
                                    <div class="media-body">
                                        <h4 class="media-heading">Kenneth Ross</h4>
                                        <span> Senior Designer </span>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="#">
                                    <img alt="..." src="~/images/avatar-4.jpg" class="media-object">
                                    <div class="media-body">
                                        <h4 class="media-heading">Ella Patterson</h4>
                                        <span> Web Editor </span>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="#">
                                    <img alt="..." src="~/images/avatar-5.jpg" class="media-object">
                                    <div class="media-body">
                                        <h4 class="media-heading">Kenneth Ross</h4>
                                        <span> Senior Designer </span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="off-settings">
                <div class="sidebar-content perfect-scrollbar">
                    <h5 class="sidebar-title">General Settings</h5>
                    <ul class="media-list">
                        <li class="media">
                            <div class="padding-10">
                                <div class="display-table-cell">
                                    <input type="checkbox" class="js-switch" checked />
                                </div>
                                <span class="display-table-cell vertical-align-middle padding-left-10">Enable Notifications</span>
                            </div>
                        </li>
                        <li class="media">
                            <div class="padding-10">
                                <div class="display-table-cell">
                                    <input type="checkbox" class="js-switch" />
                                </div>
                                <span class="display-table-cell vertical-align-middle padding-left-10">Show your E-mail</span>
                            </div>
                        </li>
                        <li class="media">
                            <div class="padding-10">
                                <div class="display-table-cell">
                                    <input type="checkbox" class="js-switch" checked />
                                </div>
                                <span class="display-table-cell vertical-align-middle padding-left-10">Show Offline Users</span>
                            </div>
                        </li>
                        <li class="media">
                            <div class="padding-10">
                                <div class="display-table-cell">
                                    <input type="checkbox" class="js-switch" checked />
                                </div>
                                <span class="display-table-cell vertical-align-middle padding-left-10">E-mail Alerts</span>
                            </div>
                        </li>
                        <li class="media">
                            <div class="padding-10">
                                <div class="display-table-cell">
                                    <input type="checkbox" class="js-switch" />
                                </div>
                                <span class="display-table-cell vertical-align-middle padding-left-10">SMS Alerts</span>
                            </div>
                        </li>
                    </ul>
                    <div class="save-options">
                        <button class="btn btn-success">
                            <i class="icon-settings"></i><span>Save Changes</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end: OFF-SIDEBAR -->
